<div class="testbed">
  <div>
    <r-logo size="is--large"></r-logo>
    <my-list>
      <ul slot="menu">
        <li>
          <my-item><span slot="msg">Item 1</span></my-item>
        </li>
        <li>
          <my-item><span slot="msg">Item 2</span></my-item>
        </li>
        <li>
          <my-item><span slot="msg">Item 3</span></my-item>
        </li>
        <li>
          <my-item><span slot="msg">Item 4</span></my-item>
        </li>
      </ul>
    </my-list>

    <br />
    <br />
    <button is="my-button"></button>
    <input is="my-input" type="text" />
  </div>
  <div>
    <x-tree model="deep"></x-tree>
  </div>
  <div>
      <template is="r-repeater" items="item of {{items}}">
        <ul class="is--large">
          <li repeat="item" foo="{{item}}">{{item}}</li>
        </ul>
      </template>
      <footer>{{message}}</footer>
  </div>
</div>
