@font-face {
	font-family: 'DankMono-Regular';
	src: url('DankMono-Regular.eot');
	src: url('DankMono-Regular.woff') format('woff'),
			url('DankMono-Regular.ttf') format('truetype'),
			url('DankMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

