@font-face {
	font-family: 'DankMono-Regular';
	src: url('fonts/DankMono-Regular.eot');
	src: local('☺'), url('fonts/DankMono-Regular.woff') format('woff'), url('fonts/DankMono-Regular.ttf') format('truetype'), url('fonts/DankMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

