::selection {
  background: #ff7de9; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ff7de9; /* Gecko Browsers */
}

button,
input {
  color: white;
  font-size: 0.8em;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  transition-property: box-shadow, border;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

ul li {
  margin-left: 10px;
  margin-right: 10px;
}

[tabindex] {
  outline: 1px solid transparent;
  transition-property: box-shadow, border;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

button,
input {
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid transparent;
}

*:focus,
button:focus,
input:focus {
  box-shadow: 0px 0px 0px rgba(255, 105, 180, 1);
  outline: 1px solid rgba(255, 105, 180, 1);
}

[hidden] {
  display: none !important;
}

a:link,
a:visited {
  color: #cdcdcd;
}

a:link:hover,
a:visited:hover {
  color: #ffffff;
}

h1 {
  font-family: 'Major Mono Display', serif;
  line-height: 1.5em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  line-height: 1.5em;
}

h1 {
  font-weight: 700;
}

h2 {
  margin-top: 2em;
}

h6 {
  font-size: 1em;
}

p {
  font-family: 'Source Sans Pro', serif;
  font-size: 1em;
  line-height: 1.5em;
}

.hint {
  opacity: 0.6;
}

header,
section,
footer {
  position: relative;
  left: 50%;
  max-width: 640px;
  transform: translateX(-50%);
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding-top: 4em;
  text-align: center;
  padding-bottom: 2em;
}

header h2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;
}

section {
  margin-bottom: 20px;
}

section h1 {
  padding-top: 3em;
  margin-bottom: 1em;
  font-family: 'Source Sans Pro';
}

section h2 {
  padding: 2px 8px;
  background: #cfcfcf;
  color: #000000;
  font-size: 1.1em;
  font-weight: 400;
  display: inline-block;
}

section ul li {
  margin-bottom: 0.25em;
}

.definition__list li {
  padding-bottom: 0.5em;
}

.definition__title {
  font-style: italic;
  color: #ababab;
  margin-right: 0.2em;
}

.i__e {
  color: rgba(117, 191, 255, 1);
}

.i__c {
  color: #e6d06c;
}

footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

footer p {
  font-family: 'Major Mono Display', sans-sarif;
  font-size: 0.8em;
}

footer r-logo {
  padding-bottom: 4em;
}

[is='my-button'] {
  background: #181818;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}
[is='my-input'] {
  background: #181818;
  border: 0;
  color: #fff;
}
