<div class="testbed">
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
    <my-counter></my-counter>
</div>