@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Source Sans Pro:100,300,400');

body {
  background: rgb(25, 25, 25);
  color: #cfcfcf;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
}
