@import url('https://fonts.googleapis.com/css?family=Abel|Arimo|Oxygen:700');
@import url('../assets/fonts/DankMono-Regular/fonts');
@import url('../assets/fonts/DankMono-Italic/fonts');


body {

    background: black;
    color:#cdcdcd;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

}

button, input {

    color: white;
    font-size: 0.8em;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition-property: box-shadow, border;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

[tabindex] {
    outline: 1px solid transparent;
    transition-property: box-shadow, border;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

button, input {
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid transparent;
}

*:focus, button:focus, input:focus {
    box-shadow: 0px 0px 0px rgba(255,105,180,1);
    outline: 1px solid rgba(255,105,180,1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', serif;
}

h1 {
    font-size: 12em;
    font-weight: 700;
}

h6 {
    font-size: 1.0em;
}

p {
    font-size: 1.1em;
}


header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
}

footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
}

[is=my-button]{background:#181818;cursor:pointer;color:#fff;font-weight:400}
[is=my-input]{background:#181818;border:0;color:#fff}