@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Heebo:100,300,400');
@import url('fonts/DankMono-Regular/fonts');
@import url('fonts/DankMono-Italic/fonts');


body {

    background: black;
    color:#cdcdcd;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

header, section, footer {
    position: relative;
    left: 50%;
    max-width: 640px;
    transform: translateX(-50%);
}

button, input {

    color: white;
    font-size: 0.8em;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition-property: box-shadow, border;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

ul li {
    margin-left: 10px;
    margin-right: 10px;
}

[tabindex] {
    outline: 1px solid transparent;
    transition-property: box-shadow, border;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

button, input {
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid transparent;
}

*:focus, button:focus, input:focus {
    box-shadow: 0px 0px 0px rgba(255,105,180,1);
    outline: 1px solid rgba(255,105,180,1);
}

[hidden] {
    display: none!important;
}

h1 {
    font-family: 'Major Mono Display', serif;
    line-height: 1.5em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Heebo', serif;
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 12em;
    font-weight: 700;
}

h6 {
    font-size: 1.0em;
}

p {
    font-family: 'Heebo', serif;
    font-size: 1.0em;
    line-height: 1.5em;
    padding-top: 40px;
}

.hint {
    opacity: 0.6;
}

header {
    text-align: center;
}

header h4 {
    margin-top: 4em;
}

footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

footer p {
    font-family: 'Major Mono Display', sans-sarif;
}
[is=my-button]{background:#181818;cursor:pointer;color:#fff;font-weight:400}
[is=my-input]{background:#181818;border:0;color:#fff}