name: End-to-end tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cypress
        uses: cypress-io/github-action@v1
        with:
          build: yarn build
          start: yarn serve
          wait-on: http://localhost:4444